<section class="box">
    <section class="box-body">
        <h1>Form Submission</h1>
        <p>
            {{#if err}}
                <strong>Woopsie</strong> it seems something went wrong!
            {{else}}
                Thank you, your submission for &laquo;{{form}}&raquo; is on it's way to us!
            {{/if}}
        </p>
    </section>
</section>