<section id="team" class="box">
    <div class="box-body">

        <h4>You aren't in a Team yet</h4>

        <article class="col-xs-12 col-md-6">
            <p>
                <strong>Join an existing Team</strong>
                <span>Coming soon. Team Captains can invite you</span>
            </p>
            <label for="join_team">Select a Team</label>
            <div>
                <input id="join_team" type="text" class="form-control" disabled>
            </div>
            <span class="help-block"></span>
            <span id="join_team_btn" class="btn btn-block btn-dark disabled top10">Submit Application</span>
        </article>
        <article class="col-xs-12 col-md-6">
            <p><strong>Create a new Team</strong></p>
            <div class="form-group">
                <label for="create_team">Team Name</label>
                <input id="create_team" type="text" class="form-control">
                <span class="help-block"></span>
            </div>
            <span id="create_team_btn" class="btn btn-block btn-dark disabled top10">Create Team</span>

        </article>
        <i class="clearfix"></i>

    </div>
</section>