<section id="tournaments">

    <article class="col-xs-12 col-md-9">
        <div class="box">
            <div class="box-body">
                <img src="/static/img/topdecks-league/banner.gif" alt="Top Decks League - Season I" style="width:100%;">

                <h1>Top Decks League</h1>
                <p>
                    We are proud to announce the first season of our Top Decks League. Our intention is to give players
                    the chance to practice their skills against other teams. One of our goals is to give teams the
                    opportunity to determine their own time schedules for matches.<br>
                    The league will be open for season I. That means every team can join at any moment.
                </p>

                <div class="youtube-wrapper top40 bottom40">
                    <iframe src="https://www.youtube.com/embed/6em4dTVPhF8?hd=1&showinfo=0&modestbranding=0&controls=2&color=white&rel=0"
                            frameborder="0" allowfullscreen>

                    </iframe>
                </div>
                <i class="clearfix"></i>

                <h2>Rundown</h2>
                <p>
                    The season will start with the Open League, which will consist of an unlimited amount of teams
                    per region. Each team will fight each other team in their region. At the end of the season, the top
                    8 teams will qualify for the finals, which will be a single elimination tournament.
                </p>
                {{!--<img src="/static/img/topdecks-league/explanation.png" style="max-width:100%;" class="top40">--}}

                <hr>
                <h2>Frequently Asked Questions</h2>
                <ul class="no-padding">
                    <li>
                        <strong>How many teams can participate?</strong>
                        <p>
                            An unlimited number of teams can participate in the Open League.
                        </p>
                    </li>
                    <li>
                        <strong>How many teams can qualify for the Finals?</strong>
                        <p>
                            8 teams per region.
                        </p>
                    </li>
                    <li>
                        <strong>How does the Open League work?</strong>
                        <p>
                            Every team that wants to participate can join the Open League, although only the best teams
                            from the Open League will join the finals.<br>
                            The League is based on a Round Robin system. Every team will compete against each other
                            team. Teams that join mid season will be credited with a loss for every played match day
                            that team has missed.
                        </p>
                    </li>
                    <li>
                        <strong>Is there a Point System?</strong>
                        <p>
                            Yes. Your team will get 3 points for every won match. Every loss gives 1 point.
                        </p>
                    </li>
                    <li>
                        <strong>When will I play my next match?</strong>
                        <p>
                            Team captains will get an email on each Tuesday listing the teams they have to play that
                            week. Matches for a given week have to be played by Sunday 12am EST / 12am GMT of that week.
                            <br>
                            Teams are encouraged to coordinate their schedules on our
                            <a target="_blank" rel="nofollow" href="/top-decks-league/discord">Discord</a>.
                        </p>
                    </li>
                    <li>
                        <strong>How does my team join mid season?</strong>
                        <p>
                            You sign up as usual.
                        </p>
                    </li>
                    <li>
                        <strong>How do I sign up?</strong>
                        <p>
                            You need to have a <a href="/auth/register">Top Decks Account</a> to sign up your team. <br>
                            Once you are logged in, you can create or join a team under <strong>Account &gt; My
                            Team &gt; Manage Team</strong>. Only your team captain can sign you up.
                        </p>
                    </li>
                    <li>
                        <strong>Can I stream my games?</strong>
                        <p>
                            Yes! We really want to see you streaming. If you do so, let us know.<br>
                            As soon as the spectator mode goes live, we will host selected games on Twitch as well.
                        </p>
                    </li>
                    <li>
                        <strong>What if I still have a question?</strong>
                        <p>
                            Contact us on Twitter <a rel="me" href="https://twitter.com/paladinstopdeck">@paladinstopdeck</a>
                            or per <a href="/contact">mail</a>.
                        </p>
                    </li>
                    <li>
                        <strong>Are there any rules?</strong>
                        <p>
                            Yes. <a href="/top-decks-league/rules">Official Top Decks League rules</a>
                        </p>
                    </li>
                </ul>
                <hr>

            </div>
        </div>
    </article>

    <aside class="col-xs-12 col-md-3">
        <div class="box">
            <div class="box-body">
                <h4>Information</h4>
                <label>Rules</label>
                <p><a href="/top-decks-league/rules">Top Deck League rules</a></p>
                <label>Teams</label>
                <p><a href="/top-decks-league/teams">Top Deck League teams</a></p>
                <label>Season Begins</label>
                <p>ETA February 1st, 2016</p>
            </div>
        </div>
    </aside>

</section>