<style>
    h2 { font-size: 18px; }
    h3, h4 { font-size: 14px; }
</style>
<section class="box">
    <article class="box-body">

        <h1>Top Decks League - Official Rules</h1>

        <p>
            <strong>The rules may not yet be finalized.</strong>
        </p>

        <label>Terminology</label>
        <ul class="no-padding">
            <li>
                <strong>PTD</strong>&nbsp;
                <span>paladinstopdecks.com</span>
            </li>
            <li>
                <strong>TDL</strong>&nbsp;
                <span>Top Decks League</span>
            </li>
            <li>
                <strong>Game/Match</strong>&nbsp;
                <span>A single match of a Set, as defined in 4.1.1</span>
            </li>
        </ul>

        <h2>1. General</h2>
        <p>
            The league administration has the right to decide outside or even against the rulebook in special cases to
            guarantee fairplay.
        </p>

        <h3>1.1.</h3>
        <p>
            Every team must read, understand and agree to the rules for participation in the Pro League (the "Rules").
            The team captain (as defined in Section 3.2) will be responsible for accepting and agreeing
            to the rules on behalf of the entire team's roster. Thereafter, each player is expected and required
            to abide by the Rules, and any failure to follow them will result in punitive measures, including but not
            limited to all items listed in Section 4.5.
        </p>

        <h3>1.2.</h3>
        <p>
            Each player may only use their own account.
        </p>

        <h3>1.3. Matches, competitions</h3>
        <p>
            In all competitions there should be a fair playing field for all players.
        </p>

        <p>
            Every competition must be played according to the rules until it is complete and the results are
            submitted.<br>
            Matches that did not take place will be considered fake matches and will be punished.
        </p>

        {{!--<h3>1.4. Internal Texts</h3>
        <p>
            All communication with an administrator cannot be published without the permission of an administrator.
        </p>--}}

        <h3>1.4. Language</h3>
        <p>
            The official language of this tournament is English. All players should be able to communicate in English
            and do so throughout the tournament.
        </p>

        <h2>2. Fraud/deception</h2>
        <h3>2.1. Deception</h3>
        <p>
            Any attempt to deceive admins or other players with wrong or fake statements, information, or data will not
            be tolerated.
        </p>

        <h3>2.2. Other unauthorized offences</h3>
        <p>
            Including, but not limited to, the abusing of bugs in the website.
            These penalties are at the discretion of the responsible admin and are penalized according to severity.
        </p>

        <h3>2.3. Cheating</h3>
        <p>
            All forms of cheating in matches are forbidden and will be penalized by the TDL.
            Should it become known to the TDL administrators that any form of cheating was used
            to the advantage of a player or a team during a match, the TDL reserves the right to punish them
            to the full extent of the rules available.<br>
            By breaking any rule, a player risks being barred or completely excluded from the Tournament. This also
            includes their team.
        </p>
        <h3>2.3.1.</h3>
        <p>
            In general, all programs which are not part of the original game, including custom-data and modifications,
            are not allowed in any match.
        </p>
        <p>
            All external voice programs are allowed (e.g. Discord, Teamspeak etc.). <br>
            Programs that provide an advantage during game play (e.g. drivers that allow the removing of walls) are
            forbidden. Any programs that change the game itself are forbidden.
        </p>

        <h3>2.4. Distribution of cheats</h3>
        <p>
            Contributing to the distribution of cheats in any way is not allowed. This includes, but is not
            limited to, referring to the name, website, or logo of cheats anywhere on PTD.<br>
            Violating this rule will be punished from a warning up to exclusion from TDL.
        </p>

        <h2>3. teams</h2>
        <p>
            A team's name does not have to be unique, but the TDL reserves the right to refuse teams with the same or
            similar names as other well-known teams (e.g. If you named your team "Crowd 9" or "Cloud 90" etc, that would
            not
            be allowed).
        </p>

        <p>
            Names which are restricted by law will not be accepted and will be deleted and punished if found.
            Also, names which go against all forms of etiquette and good manors will not be accepted.
        </p>

        <p>
            The logo must represent the team and have some reference to the team's name or to the team's short handle.
            Copyrighted logos, or logos which go against etiquette and good manors will not be accepted.
            Logos must be unique and original in their entirety.
        </p>


        <h3>3.1. Team Identification</h3>
        <p>
            Players are encouraged to represent their team in an appropriate manner. Team representation
            includes, but is not limited to, team name, jerseys, emblems, banners, etc.<br>
            Inappropriate team identification might include:
        </p>
        <ul style="list-style-type: square">
            <li>
                References to any non-over-the-counter drug, tobacco product, brand name, or other objectionable
                material
            </li>
            {{!--<li>
                Material related to any illegal activities, such as a lottery or
                enterprise, service or product that abets, assists, or promotes gambling
            </li>--}}
            <li>
                Anything defamatory, obscene, profane, vulgar, repulsive, offensive, or otherwise nasty that
                describes/depicts any internal bodily functions, symptomatic results of internal conditions or refers to
                things a reasonable person might consider socially unacceptable
            </li>
            <li>
                Advertisements for pornographic websites or products
            </li>
            <li>
                Anything containing a trademark, copyrighted material, or some other element of intellectual property
                that's used without the owner's consent, or anything that might subject the tournament organizer and his
                affiliates to
                claims of infringement, misappropriation, or other forms of unfair competition
            </li>
            <li>
                Something that disparages an opposing team or player or any other person, entity, or product
            </li>
            <li>
                Impersonating staff members is also a big no-no
            </li>
        </ul>


        <h3>3.2. Team Captains</h3>
        <p>
            Each team shall determine who will act as team captain prior to the start of the TDL (the "team captain"),
            whereupon such appointment shall be permanent for the entire Tournament.<br>
            The captain will be the main point of contact for TDL administrators to deliver any information regarding
            the team including but not limited to:
        </p>

        <ul style="list-style-type: square">
            <li>Rosters</li>
            <li>Team availability</li>
            <li>Team / Player information</li>
            <li>Tournament communications</li>
        </ul>

        <h4>3.2.1.</h4>
        <p>
            Each team may designate a backup representative (the "team assistant")
            should the team captain be unavailable due to unforeseeable or emergency circumstances.
            Permission is required from the team captain to one of the league administrators
            stating said person can act as the team assistant on all matters except roster changes.<br>
            If a team assistant is required to act in the team captain's place, he or she shall be responsible
            for all of the team captain's duties until otherwise instructed by an Administrator.
        </p>

        <h4>3.2.2.</h4>
        <p>
            Every team captain is responsible for updating the Administrators with any information pertaining
            to his or her own team as well as making sure that any requested information is provided to the requesting
            Administrator(s) in a timely fashion.
        </p>

        <h4>3.2.3.</h4>
        <p>
            Team captains are responsible for updating the outcome of any matches with a proper screenshot and any other
            requested information.<br>
            A proper screenshot includes the scoreboard of the Victory/Defeat screen as seen in Attachment I.
            The scoreboard must not be hidden by any overlay such as the ingame chat.
        </p>

        <h4>3.2.4.</h4>
        <p>
            Team captains must check-in their first roster and team name the Monday before the start of the Top Deck
            League – TODO: INSERT DATE HERE WITH TIMEZONE.<br>
            All necessary items such as the team captain, team logos and branding guides must be sent in at this time as
            well.<br>
            If additional assets are requested by the TDL, teams must supply those materials at their earliest
            convenience.
        </p>

        <h4>3.2.5.</h4>
        <p>
            Team captains have to join the official Discord Server of the TDL to communicate with TDL administrators, as
            defined in 3.2.
        </p>

        <h3>3.3. Changing team names</h3>
        <p>
            A team can change its name at any time. This also applies when a team is restructured.
        </p>

        <p>
            Changing a team's name in order to fool other teams is forbidden.<br>
            Extremely long names, or consistent changing of team names is prohibited and can be punished with penalty
            points.
        </p>


        <h2>4. Match Rules</h2>
        <h3>4.1. GENERAL RULES</h3>
        <p>
            A "Match" is defined as an instance of Tournament competition where the outcome is determined by either
            the completion of the objective (defeating the enemy Vault) or a team being disqualified.
        </p>

        <h4>4.1.1.</h4>
        <p>
            A "Set" is defined as a best of three (3) series that is played until a team wins a majority of the set.
        </p>

        <h4>4.1.2.</h4>
        <p>
            This is a 5v5 Challenge Mode Tournament.
        </p>
        <h4>4.1.3.</h4>
        <p>
            When a team is disqualified from a Game, Match, or the Tournament, they will automatically be given the loss
            for that said Game or Match, as well as potentially being removed from the remainder of the Tournament.
        </p>
        <h4>4.1.4.</h4>
        <p>
            Any team that is disqualified from the Tournament will forfeit all prizing, outstanding per diem,
            and benefits that they may have earned related to the Tournament.<br>
            Disqualifications may be awarded after the tournaments completion OR prior to the tournaments completion but
            after a teams elimination.
        </p>

        <h3>4.2. DELAY OF GAME</h3>
        <p>
            There are scheduled times during which each Set must be played. Schedules will be send timely to team
            Captains. These time restraints must be followed by all players.
        </p>
        <h4>4.2.1.</h4>
        <p>
            team captains shall tell an Administrator about any delays that may overlap into a Game's scheduled time.
        </p>
        <h4>4.2.2.</h4>
        <p>
            An Administrator holds the right to postpone any Game or Match to a later time based on unforeseen or severe
            circumstances.
        </p>
        <h4>4.2.3.</h4>
        <p>
            In the case of a player's client loading slowly or a Game crashing upon loading, an immediate pause may be
            issued until all ten (10) players successfully load in and connect.
        </p>


        <h3>4.3. PLAYER DISCONNECTS</h3>

        <p>
            If a player fails to load into a Game or disconnects during a Game a team can pause the game.
        </p>

        <h4>4.3.1.</h4>
        <p>
            A team can pause a match for three (3) times. The total amount of time for pauses is ten (10) minutes per
            team.
        </p>


        <h3>4.4. GAME VICTORIES</h3>
        <p>
            Each Game must be played until the final objective is completed (destroying the opposing Vault).
        </p>
        <h4>4.4.1.</h4>
        <p>
            In the event of a server crash or malfunction, any affected Match will be remade from the start.
        </p>


        <h3>4.5. PUNITIVE MEASURES</h3>
        <p>If any player or team violates a rule contained herein, the player or team as a whole may be subject to
            disqualification.<br>
            Other punitive measures may include, but are not limited to, suspension or prohibition from participating in
            future PTD events.
        </p>
        <h4>4.5.1.</h4>
        <p>
            Rules are enforced and handled completely by the TDL administration team. Teams do not have the option to
            decline any penalties being assessed on their opponents.
        </p>

        <h2>ATTACHMENTS</h2>
        <ol type="I">
            <li><a target="_blank" href="/top-decks-league/attachment/scoreboard">Scoreboard</a></li>
            <li><a target="_blank" rel="nofollow" href="/top-decks-league/discord">Official Discord Server</a></li>
        </ol>
    </article>
</section>