<section id="complete_deck" class="box linear-bg" itemscope itemtype="https://schema.org/Thing">
    <article>
        {{>deck/single/header}}
        {{>deck/single/body}}
        {{>deck/single/sidebar}}
    </article>

    {{>deck/single/below}}
</section>