<h2>Cards</h2>
<p>A list of all cards for {{champion.name}}.</p>

<div class="row top40">
    <div class="table-responsive">
        {{>cards/table cards=cards static=static}}
    </div>
</div>
<i class="clearfix"></i>