<h2>Card Stats</h2>
<p>Stats based on decks from the last 30 days</p>
<div id="charts" class="bottom20" style="position:relative;">
    <i id="chart_spinner">{{>spinner}}</i>
    <div class="col-xs-12 col-md-6">
        <div id="chart_mpc"></div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div id="chart_mpct"></div>
    </div>
    <i class="clearfix"></i>
</div>