<div id="card_spinner" class="spinner-paladins spinner-75"
     style="position: absolute; left:50%; top:50%; transform: translate(-50%, -50%);">
    <div class="spinner-body">
        <div class="spinner-frame"></div>
    </div>
</div>