<div class="youtube-wrapper top40 bottom40">
    <iframe src="https://www.youtube.com/embed/{{id}}?hd=1&showinfo=0&modestbranding=0&controls=2&color=white&rel=0"
            frameborder="0" allowfullscreen></iframe>
</div>