<section class="linear-bg p10">
    <div class="four-o-four">
        <div>
            <h1>404 - Page not found</h1>
            <p>
                <strong>Woopsie</strong> - seems like this page does not exist
            </p>
            <p>
                Do you think there should be something here?<br>
                Head over to our <a href="/feedback">Feedback Form</a>
                and tell us about it
            </p>
        </div>
    </div>
</section>