<div class="box">
    <div class="box-body">
        <h1>Contact Us</h1>
        <p>
            You can contact us per Twitter <a href="https://twitter.com/paladinstopdeck">@paladinstopdeck</a>
            or per email at schadstoff@paladinstopdecks.com
        </p>
    </div>
</div>