<label class="h6">Comments</label>
<div class="alert alert-danger" id="alert_comment" style="display:none;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>
<section class="comments">
    {{#ifNotEqual user false}}
        {{#ifLess comments.length 1}}
            <p><strong>Looks like there no comments yet. Be the first one and start a discussion!</strong></p>
        {{/ifLess}}
        <header>
            <img class="gravatar" src="{{user.avatar}}">
            <div class="textarea-wrapper col-default">
                <div class="textarea" contenteditable="true" tabindex="1"></div>
                <div class="bot">
                    <span style="line-height:34px; margin-left: 10px;" class="info-text">
                        Markdown is supported
                    </span>

                    <span id="submit_comment" class="btn btn-dark pull-right disabled">Post As {{user.name}}</span>
                </div>
            </div>
        </header>
    {{else}}
        <strong>You need to be <a href="/auth/login">authenticated</a> to comment!</strong>
    {{/ifNotEqual}}

    <div class="top20">
        {{#each comments}}
            <ul class="commentlist">
                {{!--todo: pack this into comment partial--}}
                {{>comments/single comment=this}}
                {{!--todo: append replies--}}
            </ul>
        {{/each}}
    </div>

</section>