<section class="box">
    <article class="box-body">
        <p>
            <strong>Do you really want to leave {{team.name}}?</strong>
        </p>
        <a href="/api/teams/leave" class="btn btn-danger">Yes, let me leave!</a>
        <a href="/team/{{team.name}}" class="btn btn-dark">No no no, bring me back!</a>
    </article>
</section>